.email_sidebar_holder {
    width: 20% !important;
    position: "absolute";
    height: 90% !important;
}

/* Compose */
.email_sidebar_compose_holder {
    width: 100%;
    height: 70px;
}   

.email_sidebar_compose_button {
    width: 80% !important;
    margin-left: 10% !important;
    height: 70% !important;
    margin-top: 5% !important;
}

.email_sidebar_compose_button:hover {
    background-color: #006AD5 !important;
    color: white;
    font-size: 18px;
}

.line_breaker_email {
    width: 100%;
    height: 1px;
    margin-top: 25px;
}

.email_sidebar_select_holder {
    width: 100%;
    height: auto;
    padding-top: 25px;
    height: 90% !important;
    border: 2px solid #D8D8D8 ;

}

.email_sidebar_select_row {
    width: 95%;
    margin-top: 15px;
    height: 40px;
    text-align: left;
    padding-left: 15px;
    color: #959494;
    font-size: x-large;

}

.email_sidebar_select_row_templates{
    border-top: 2px solid #D8D8D8 ;
    width: 95%;
    margin-top: 5px;
    padding-top: 10px;
    height: 40px;
    text-align: left;
    padding-left: 15px;
    color: #959494;
    font-size: x-large;
}