.db_display_holder {
    width: 100%;
    height: auto;
    min-height: 70px;
    margin-bottom: 15px;

    cursor: pointer;
}

.db_display_button:hover {
    background-color: #F0F0F0;
}

.db_display_button {
    width: 100%;
    height: 70px;
    border-radius: 15px !important;
}

.db_display_button_text {
    color: #27486E;
    margin-left: 25px;
    font-size: 30px;
    padding-top: 22px;
    float: left;
}

.db_display_button_icon {
    float: left;
    color: #27486E;
    font-size: 32px;
    padding-top: 22px;
    margin-left: 15px;
}